body {
    font-family: monospace;
    background: rgb(0,82,214);
    background: linear-gradient(120deg, rgba(0,82,214,0.5) 0%, rgba(255,255,255,0) 75%, rgba(0,82,214,0.49709390592174374) 100%);
    
    font-size: 14px;
}
#wrapper {
}
header{
    padding-left: 10px;
}
header > p {
    font-size: 12px;
}
header > a {
    text-decoration: none;
    color: black;
}
header > a:hover {
    text-decoration-line: underline;
}
header, nav, main, aside {
    border: 1px solid black;
}
#content {
    display: flex;
    flex-direction: row;
}
footer  {
    background-color: #00307ec1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em 1em;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
}
footer > * {
    display: block;
    margin: 0 auto;
}
footer a {
    color: white;
    text-decoration-line: none;
}
footer a:hover {
    color: rgb(189, 189, 189);
}
nav {
    border-top: none;
    min-width: 120px;
    width: 10%;
    display: flex;
    flex-direction: column;
}
main {
    border-top: none;
    border-left: none;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}
main > * {
    display: block;
    margin: 0 auto;
}
main > p {
    margin-bottom: 10px;
}
main > h1, h2 {
    margin: 10px 10px;
}
.blog, .research {
    border: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.blog, .research {
    width: 600px;
}
iframe {
    height: 520px;
    width: 600px;
    border: none;
}
table {
    text-align: left;
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 5px;
    font-size: 16px;
}
#contact form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 600px;
}
#contact form > * {
    display: block;
    margin: 5px;
}
#send-contact {
    width: 50px;
}
@media screen and (max-width: 800px) {
    #content {
        flex-direction: column;
    }
    nav, main, img, .blog, .research, iframe {
        width: 100%;
        border-left: none;
        border-right: none;
    }
    iframe {
        margin: 12px 12px;
        width: auto;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        list-style: none;
    }
    #contact form {
        width: 300px;
    }
}